# 영화추천 기능 구현

## 라이브러리 임포트

In [1]:
import os
from implicit.als import AlternatingLeastSquares
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix

os.environ['OPENBLAS_NUM_THREADS'] = '1'
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'
os.environ['MKL_NUM_THREADS'] = '1'

## 1. 데이터 준비와 전처리

In [2]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [3]:
print("원본:", ratings.shape)
print("결측치 제거 후:", ratings.dropna().shape)

원본: (1000209, 4)
결측치 제거 후: (1000209, 4)

> 결측치는 없다

In [4]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings'] >= 3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size:,}, filtered_data_size: {filtered_data_size:,}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1,000,209, filtered_data_size: 836,478
Ratio of Remaining Data is 83.63%

In [5]:
ratings.rename(columns={'ratings': 'counts'}, inplace=True)
ratings.head(10)

   user_id  movie_id  counts  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291
5        1      1197       3  978302268
6        1      1287       5  978302039
7        1      2804       5  978300719
8        1       594       4  978302268
9        1       919       4  978301368

In [6]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [7]:
print("원본:", movies.shape)
print("결측치 제거 후:", movies.dropna().shape)

원본: (3883, 3)
결측치 제거 후: (3883, 3)

> 결측치는 없다

In [8]:
# 검색 편의를 위해 title, genre 소문자로
movies['title'] = movies['title'].str.lower()
movies['genre'] = movies['genre'].str.lower()
movies.head()

   movie_id                               title                         genre
0         1                    toy story (1995)   animation|children's|comedy
1         2                      jumanji (1995)  adventure|children's|fantasy
2         3             grumpier old men (1995)                comedy|romance
3         4            waiting to exhale (1995)                  comedy|drama
4         5  father of the bride part ii (1995)                        comedy

In [9]:
# 평점과 제목 데이터프레임 합치기
rating_data = ratings.join(movies.set_index('movie_id'), on='movie_id')
print(rating_data.shape)
rating_data.head()

(836478, 6)

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,one flew over the cuckoo's nest (1975),drama
1,1,661,3,978302109,james and the giant peach (1996),animation|children's|musical
2,1,914,3,978301968,my fair lady (1964),musical|romance
3,1,3408,4,978300275,erin brockovich (2000),drama
4,1,2355,5,978824291,"bug's life, a (1998)",animation|children's|comedy

In [10]:
rating_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836478 entries, 0 to 1000208
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    836478 non-null  int64
 1   movie_id   836478 non-null  int64
 2   counts     836478 non-null  int64
 3   timestamp  836478 non-null  int64
 4   title      836478 non-null  object
 5   genre      836478 non-null  object
dtypes: int64(4), object(2)
memory usage: 44.7+ MB

## 2. 분석

* ratings에 있는 유니크한 영화 개수
* ratings에 있는 유니크한 사용자 수
* 가장 인기 있는 영화 30개(인기순)

In [11]:
# ratings에 있는 유니크한 영화 개수
print(f"Unique movie_id: {rating_data['movie_id'].nunique():,}")
# ratings에 있는 유니크한 사용자 수
print(f"Unique user_id: {rating_data['user_id'].nunique():,}")

Unique movie_id: 3,628
Unique user_id: 6,039

In [12]:
# 가장 인기 있는 영화 30개(인기순)
movie_count = rating_data.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).head(30)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
Name: user_id, dtype: int64

## 3. 선호하는 영화를 5가지 골라서 ratings에 추가

In [13]:
# 영화 제목 키워드로 검색
movies[movies['title'].str.contains('batman', regex=False)]

,movie_id,title,genre
151,153,batman forever (1995),action|adventure|comedy|crime
588,592,batman (1989),action|adventure|crime|drama
1356,1377,batman returns (1992),action|adventure|comedy|crime
1522,1562,batman & robin (1997),action|adventure|crime
3144,3213,batman: mask of the phantasm (1993),animation|children's

In [14]:
# 나의 아이디는 901203으로 가정, 이미 있는 id인지 체크
rating_data.isin({'user_id':[901203]})['user_id'].any()

False

In [15]:
# 내가 좋아하는 영화 5편 리스트
my_favorite_id = [153, 592, 1377 , 1562, 3213]

my_favorite_title = []
for i in my_favorite_id:
    my_favorite_title.extend(list(movies[movies['movie_id'] == i]['title']))

# 선정한 5편의 영화를 5번씩 봤다고 가정
my_favorite = pd.DataFrame({'user_id': [901203]*5, 'movie_id': my_favorite_id, 'counts': [5]*5, 'title': my_favorite_title})
my_favorite

   user_id  movie_id  counts                                title
0   901203       153       5                batman forever (1995)
1   901203       592       5                        batman (1989)
2   901203      1377       5                batman returns (1992)
3   901203      1562       5                batman & robin (1997)
4   901203      3213       5  batman: mask of the phantasm (1993)

In [16]:
# 내 취향 레이팅 데이터에 결합
rating_data = rating_data.append(my_favorite, ignore_index=True)
rating_data.tail()

,user_id,movie_id,counts,timestamp,title,genre
836478,901203,153,5,NaN,batman forever (1995),NaN
836479,901203,592,5,NaN,batman (1989),NaN
836480,901203,1377,5,NaN,batman returns (1992),NaN
836481,901203,1562,5,NaN,batman & robin (1997),NaN
836482,901203,3213,5,NaN,batman: mask of the phantasm (1993),NaN

In [17]:
# 필요 컬럼만 남기고 모두 제거
using_cols = ['user_id', 'movie_id', 'counts', 'title']
rating_data = rating_data[using_cols]
rating_data

        user_id  movie_id  counts                                   title
0             1      1193       5  one flew over the cuckoo's nest (1975)
1             1       661       3        james and the giant peach (1996)
2             1       914       3                     my fair lady (1964)
3             1      3408       4                  erin brockovich (2000)
4             1      2355       5                    bug's life, a (1998)
...         ...       ...     ...                                     ...
836478   901203       153       5                   batman forever (1995)
836479   901203       592       5                           batman (1989)
836480   901203      1377       5                   batman returns (1992)
836481   901203      1562       5                   batman & robin (1997)
836482   901203      3213       5     batman: mask of the phantasm (1993)

[836483 rows x 4 columns]

## 4. CSR matrix를 직접 만들어 봅시다.

In [18]:
# 고유한 유저와 영화의 개수
user_unique = rating_data['user_id'].unique()
movie_unique = rating_data['title'].unique()


# 고유한 값의 개수만큼 유저 id와 영화 제목을 indexing
user_to_idx = {v: k for k, v in enumerate(user_unique)}
movie_to_idx = {v: k for k, v in enumerate(movie_unique)}

In [19]:
# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = rating_data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(rating_data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    rating_data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# movie_to_idx을 통해 title 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = rating_data['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(rating_data):
    print('title column indexing OK!!')
    rating_data['title'] = temp_movie_data
else:
    print('title column indexing Fail!!')

rating_data

user_id column indexing OK!!
title column indexing OK!!

        user_id  movie_id  counts  title
0             0      1193       5      0
1             0       661       3      1
2             0       914       3      2
3             0      3408       4      3
4             0      2355       5      4
...         ...       ...     ...    ...
836478     6039       153       5    515
836479     6039       592       5    527
836480     6039      1377       5    587
836481     6039      1562       5   1943
836482     6039      3213       5    387

[836483 rows x 4 columns]

In [20]:
# CSR Matrix 생성
num_user = rating_data['user_id'].nunique()
num_movie = rating_data['title'].nunique()

csr_data = csr_matrix((rating_data['counts'], (rating_data.user_id, rating_data.title)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5. als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련

In [21]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [22]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [23]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

## 6. 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [24]:
itsme, batman = user_to_idx[901203], movie_to_idx['batman & robin (1997)']
itsme_vector, batman_vector = als_model.user_factors[itsme], als_model.item_factors[batman]

In [25]:
itsme_vector

array([-6.10733926e-01,  3.09890449e-01,  1.89228468e-02, -3.23147267e-01,
       -1.69101134e-01, -2.31636569e-01, -7.56867528e-01,  6.30686820e-01,
       -7.00825900e-02, -3.16402882e-01,  1.00912666e+00, -8.85597896e-03,
       -2.65994906e-01, -1.68856129e-01,  6.74525499e-01,  4.01103914e-01,
        2.67178833e-01,  4.34499353e-01,  7.11273449e-03,  8.42233658e-01,
        1.82115525e-01,  1.23873167e-01, -1.74264647e-02, -9.77495452e-04,
       -4.52996343e-01, -2.37613812e-01,  2.35698059e-01, -2.18110800e-01,
       -2.13189870e-01, -1.79129764e-01, -6.53471947e-01,  7.74089396e-02,
        5.22127151e-01, -1.47209895e+00,  4.16877419e-01, -7.02616692e-01,
        6.19200826e-01,  5.35995364e-01, -1.29237342e+00,  5.27549535e-02,
        1.33482635e-01,  9.58985984e-02,  1.29412368e-01, -1.04067564e+00,
        2.36395910e-01, -2.33202070e-01,  2.67603565e-02,  8.92492980e-02,
       -8.42068493e-01,  2.89244264e-01, -1.06348896e+00,  8.09720680e-02,
        6.17383420e-01, -2.78875589e-01, -2.53917068e-01, -9.20350924e-02,
        8.46070290e-01,  1.14961572e-01, -3.45043272e-01, -3.74977663e-02,
        5.66326320e-01,  4.11745012e-01, -8.59971106e-01,  2.29733154e-01,
       -8.60995293e-01,  1.11466385e-01,  1.57769653e-03,  3.51611376e-01,
        3.15184295e-01,  7.43491650e-01,  5.07613420e-01,  2.23305542e-02,
       -3.01465511e-01,  7.80326188e-01, -2.05788195e-01,  4.44027811e-01,
        2.42933810e-01, -7.97431886e-01, -1.97618887e-01,  4.63596314e-01,
        1.95545450e-01,  1.74498886e-01, -5.33471048e-01,  1.85378492e-01,
        2.24293098e-01, -8.77604842e-01,  3.24624389e-01,  1.73806235e-01,
        1.85877576e-01, -1.19839951e-01, -1.76592812e-01,  1.38876244e-01,
        2.00246662e-01, -3.67783964e-01,  1.54894984e+00,  2.84186691e-01,
        1.26312351e+00,  5.86263351e-02, -6.32760286e-01,  9.06215422e-03],
      dtype=float32)

In [26]:
batman_vector

array([-4.88183182e-03,  4.97912243e-03, -3.89249949e-03, -3.26274638e-03,
       -3.57257947e-03,  1.21316463e-02, -3.94882355e-03,  1.13247009e-02,
       -1.62582025e-02,  2.40841717e-03,  2.99059600e-02, -2.10639741e-03,
        9.47691617e-04,  4.02030256e-03,  1.40831005e-02,  1.02220662e-03,
        4.16371692e-03,  8.21853802e-03,  7.86474254e-03,  7.52951624e-03,
        2.01731641e-02,  1.00050038e-02, -1.07161875e-03,  6.13743579e-03,
        7.42334267e-03, -5.32527501e-03,  1.31751280e-02, -7.82391755e-04,
        1.01610878e-02, -4.39474219e-03, -2.39083525e-02,  2.00293702e-03,
        2.68628616e-02, -1.36882477e-02,  1.73408596e-03, -9.50269774e-03,
        1.69877335e-02,  9.57154203e-03, -1.40041150e-02, -8.87057744e-03,
        1.71363819e-02,  4.47227573e-03,  1.87341552e-02, -1.00762527e-02,
        8.89874157e-03, -1.38049165e-03,  1.66899490e-03,  3.27508803e-03,
       -8.53348058e-03,  1.39710149e-02, -5.27056633e-04,  8.75386223e-03,
        9.70569160e-03,  7.60787865e-03,  5.87773789e-03,  5.16989967e-03,
        1.41977901e-02,  1.37939556e-02, -2.19544891e-05,  1.89872587e-03,
        1.65482406e-02,  6.05052942e-03, -5.38071245e-03,  1.69588160e-02,
       -1.02259545e-02, -6.65085297e-03,  4.08142852e-03,  6.09095488e-03,
       -3.81412130e-04,  1.88651197e-02,  2.03965809e-02,  1.41307861e-02,
        2.02048495e-02,  1.39727362e-03, -3.14222299e-03,  1.87368561e-02,
       -9.14425403e-03, -3.39681678e-03,  1.29204374e-02,  1.68213211e-02,
        1.22734969e-02,  3.06262653e-02, -9.17629059e-03,  7.54832197e-03,
        1.76972849e-03, -1.21934731e-02,  2.14183494e-03,  4.98271128e-03,
        5.31699276e-03,  6.21231925e-03,  5.09525929e-03,  1.06942737e-02,
        6.15226384e-03, -1.29365772e-02,  2.19860636e-02,  1.41336164e-02,
        2.57588886e-02,  1.42622367e-02,  5.58909596e-05,  1.14945732e-02],
      dtype=float32)

In [27]:
# 나와 스타트렉의 내적 구하기 (선호 리스트에 있는 영화)
np.dot(itsme_vector, batman_vector)

0.37564743

In [28]:
# 다른 영화에 대한 선호도 예측 (선호 리스트에 없는 영화)
matrix = 2355  # bug's life, a (1998)
matrix_vector = als_model.item_factors[matrix]
np.dot(itsme_vector, matrix_vector)

-0.0071156872

## 7. 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [29]:
favorite_movie = 'batman returns (1992)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie   # (movie idx, 유사도) Tuple

[(587, 0.99999994),
 (515, 0.8469998),
 (781, 0.6657417),
 (1943, 0.64951265),
 (527, 0.5260281),
 (177, 0.5031659),
 (766, 0.50208473),
 (714, 0.50098693),
 (79, 0.4954396),
 (530, 0.48603243),
 (770, 0.48187232),
 (1085, 0.4765779),
 (153, 0.4510486),
 (1146, 0.4361945),
 (1909, 0.43265522)]

In [30]:
# movie_to_idx 를 뒤집어, index로부터 movie 이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['batman returns (1992)',
 'batman forever (1995)',
 'dick tracy (1990)',
 'batman & robin (1997)',
 'batman (1989)',
 'three musketeers, the (1993)',
 'goldeneye (1995)',
 'waterworld (1995)',
 'maverick (1994)',
 'lethal weapon 4 (1998)',
 'cliffhanger (1993)',
 'last action hero (1993)',
 'lethal weapon 3 (1992)',
 'quick and the dead, the (1995)',
 'addams family values (1993)']

In [31]:
# 비슷한 영화를 알려주는 함수
def get_similar_movie(movie_title: str):
    movie_id = movie_to_idx[movie_title]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [32]:
movies[movies['title'].str.contains('shawshank', regex=False)]

     movie_id                             title  genre
315       318  shawshank redemption, the (1994)  drama

In [33]:
get_similar_movie('shawshank redemption, the (1994)')

['shawshank redemption, the (1994)',
 'silence of the lambs, the (1991)',
 'pulp fiction (1994)',
 "schindler's list (1993)",
 'good will hunting (1997)',
 'fargo (1996)',
 'goodfellas (1990)',
 'saving private ryan (1998)',
 'usual suspects, the (1995)',
 'dead man walking (1995)']

In [34]:
movies[movies['title'].str.contains('superman', regex=False)]

,movie_id,title,genre
2571,2640,superman (1978),action|adventure|sci-fi
2572,2641,superman ii (1980),action|adventure|sci-fi
2573,2642,superman iii (1983),action|adventure|sci-fi
2574,2643,superman iv: the quest for peace (1987),action|adventure|sci-fi

In [35]:
get_similar_movie('superman iii (1983)')

['superman iii (1983)',
 'superman iv: the quest for peace (1987)',
 'my science project (1985)',
 'howard the duck (1986)',
 'cocoon: the return (1988)',
 'star trek v: the final frontier (1989)',
 'superman ii (1980)',
 'karate kid iii, the (1989)',
 'karate kid, part ii, the (1986)',
 'judge dredd (1995)']

## 8. 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [36]:
user = user_to_idx[901203]
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(781, 0.29304463),
 (172, 0.2640526),
 (188, 0.24022688),
 (189, 0.21765317),
 (675, 0.21006285),
 (177, 0.2097646),
 (58, 0.17932646),
 (288, 0.17927408),
 (770, 0.17734027),
 (763, 0.16791299),
 (766, 0.16518143),
 (890, 0.16312972),
 (57, 0.16287205),
 (372, 0.15959036),
 (253, 0.15778957),
 (116, 0.15470389),
 (945, 0.15450622),
 (977, 0.15286615),
 (586, 0.15100875),
 (184, 0.14994687)]

In [37]:
# 인덱스를 영화 제목으로 변환
[idx_to_movie[i[0]] for i in movie_recommended]

['dick tracy (1990)',
 'indiana jones and the last crusade (1989)',
 'indiana jones and the temple of doom (1984)',
 'breakfast club, the (1985)',
 'back to the future part iii (1990)',
 'three musketeers, the (1993)',
 'mission: impossible (1996)',
 'austin powers: international man of mystery (1997)',
 'cliffhanger (1993)',
 'superman ii (1980)',
 'goldeneye (1995)',
 'professional, the (a.k.a. leon: the professional) (1994)',
 'untouchables, the (1987)',
 'x-men (2000)',
 'mystery men (1999)',
 'dances with wolves (1990)',
 'highlander (1986)',
 'adventures of robin hood, the (1938)',
 'star trek iv: the voyage home (1986)',
 'crocodile dundee (1986)']

In [38]:
# 사용자가 기록을 남긴 데이터가 특정 영화 추천에 기여한 정도를 확인
recommended = movie_to_idx['x-men (2000)']
explain = als_model.explain(user, csr_data, itemid=recommended)

[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('batman: mask of the phantasm (1993)', 0.05773637649295399),
 ('batman & robin (1997)', 0.044875325232613984),
 ('batman returns (1992)', 0.034822083810339625),
 ('batman (1989)', 0.01554292658361238),
 ('batman forever (1995)', 0.005916786507266862)]

## 정리

* 간단한 영화추천 기능을 구현해봤다. 약식으로 진행했지만 꽤 그럴싸하게 추천해주는 것 같다.
* 배트맨 시리즈를 취향으로 입력했고, 추천해준 결과들은 헐리웃 대작들이다.
* 이전에 회사에서 진행했던 추천서비스는 대학 연구소에서 전달해준 모델을 활용했는데, 직접 작업해보니 흥미로웠다. 앞으로 서비스를 만들 때 참고해야겠다.